@import 'mastodon-light/variables';
@import 'application';
@import 'mastodon-light/diff';

.bookmark-icon.active {
    color: #ff5050;
}

.status {
  &-unlisted time::after,
  &-private time::after,
  &-direct time::after {
      display: inline-block;
      text-align: center;
      width: 14px;
      height: 14px;
      font: 14px/1 FontAwesome;
      margin-left: 4px;
  }

  &-unlisted time::after {
      content: "\f09C";
  }

  &-private time::after {
      content: "\F023";
  }

  &-direct time::after {
      content: "\F0E0";
  }
}

.detailed-status {
  position: relative;

  &-unlisted::before,
  &-private::before,
  &-direct::before {
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    right: 10px;
    top: 20px;
    font: 14px/1 FontAwesome;
    color: #444b5d;
  }

  &-unlisted .display-name,
  &-private .display-name,
  &-direct .display-name {
    padding-right: 10px;
  }

  &-unlisted::before {
      content: "\f09C";
  }

  &-private::before {
      content: "\F023";
  }

  &-direct::before {
      content: "\F0E0";
  }
}
